.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6666;
  height: 70px;
  padding: 5px 10px;

  &_search-area {
    display: flex;
    gap: 10px;
  }
}
