.task-form-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  .task-form-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .task-form {
    display: flex;

    &_label {
      min-width: 100px;
    }
  }

  .task-form-btn {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }
}
